.upload__card{
    width: 400px;
    height: 470px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 2em;

    background: #FAFAFB;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    font-family: Poppins;
    font-weight: 500;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: -0.035em;
}

.upload__title{
    font-size: 18px;
    color:#4F4F4F;
}
.upload__sub__title{
    font-size: 10px;
    color:#828282;
}

.upload__txt__or,.upload__p__drag{
    font-size: 12px;
    line-height: 18px;
    color: #BDBDBD;
}


.upload__previewImage{
    width: 338px;
    height: 219px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    border-radius: 12px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}

.upload__btn{
background: #2F80ED;
border-radius: 8px;
color:#fff;
padding: 8px 16px 8px 16px;
 font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor:pointer;
}

.btn-file-picker {
    background: #2F80ED;
border-radius: 8px;
color:#fff;
padding: 8px 16px 8px 16px;
 font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor:pointer;
  }