.app{
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400.36px;
  height: 454.96px;
  background: #fafafb;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
}

.container-title {
  display: flex;
  align-items: flex-start;
  min-height: 20%;
}

.title {
  /* Upload your image */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.subtitle {
  /* File should be Jpeg, Png,... */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.035em;
  color: #828282;
}

.text-or {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #bdbdbd;
  margin:1em 0;
}

.btn-file-picker {
  border: none;
  background: #2f80ed;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #ffffff;
}

.container-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  min-height: 30%;

}
